
services:
  deploy-manager:
    build:
      context: . 
      dockerfile: ./services/deploy-manager/Dockerfile
    container_name: deploy-manager
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

